body {
    color: #33363C;
    margin: 0;
    padding: 0;
    background: #bdc;
    font-size: 2em;
}
#id_username, #id_password, #id_password1, #id_password2, #id_name, #id_price, #id_store{
    width: 90%;
    color: #33363C;
    background: #bbb;
    border-radius: 30px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 2em;
}
.button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1.5em;
    border-radius: 30px;
}
.nav a{
    display: block;
    padding: 24px;
    border-bottom: 1px solid rgba( 255, 255, 255, 0.1 );
    background: #282828;
    text-transform: uppercase;
    color: rgba( 255, 255, 255, 0.4 );
    text-align: center;
    text-decoration: none;
  }
.p-logout {
    font-size: 2em;
    text-align: center;
}
.a-logout{
    text-decoration: none;
    display: block;
    text-align: center;
}
.title-product {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
.product-view {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}
table {
    width: 100%;
    margin: 0;
    padding: 0px;
    border: 0;
    text-align: left;
}