{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'product_price/style.css' %}">
</head>
<body>

        {% if user.is_authenticated %}
            <div  class="nav">
            <a href="{% url 'product_price:add_product' %}">Dodaj Produkt</a>
            <a href="{% url 'product_price:logout' %}">Wyloguj</a>
            </div>
            {% block content %}{% endblock%}

        {% else %}
            <div class="nav">
                <a href="{% url 'product_price:login' %}">Zaloguj</a>
                <a href="{% url 'product_price:signup' %}">Rejestracja</a>
            </div>
        {% endif %}




</body>
</html>