{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'product_price/style.css' %}">
</head>
<body>

    <form method="POST" >
        {% csrf_token %}
            <input id="id_username" type="text" name="username" placeholder="Username">
            <input id="id_password" type="password" name="password" placeholder="Password">
            <input class="button" type="submit" name="" value="Login">
    </form>

</body>
</html>
