{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'product_price/style.css' %}">
</head>
<body>
    <p class="p-logout">Zostałeś poprawnie wylogowany</p>
    <a class="a-logout" href="{% url 'product_price:login' %}">Login</a>
</body>
</html>