{% extends "product_price/layout.html" %}

    <title>Index_info</title>

{% block content %}

            <table>
                {% if all_products %}
                {% for product in all_products %}
                <tr>
                    <td>{{ product }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.store }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>

{% endblock content %}